
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  height: 100vh;
  /* IE10+ */
background-image: -ms-radial-gradient(center, ellipse closest-side, #E35F64 0%, #880C30 100%);
/* Mozilla Firefox */
background-image: -moz-radial-gradient(center, ellipse closest-side, #E35F64 0%, #880C30 100%);
/* Opera */
background-image: -o-radial-gradient(center, ellipse closest-side, #E35F64 0%, #880C30 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, center center, 0, center center, 125, color-stop(0, #E35F64), color-stop(100, #880C30));
/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(center, ellipse closest-side, #E35F64 0%, #880C30 100%);
/* W3C Markup */
background-image: radial-gradient(ellipse closest-side at center, #E35F64 0%, #880C30 100%);
color: #ffffff;
}
.grid {
  background: white;
  margin: 0 0 20px 0;
}
.grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  	padding-right: 20px;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 50%;
}
.col-1-4 {
	width: 25%;
}
.col-1-8 {
	width: 12.5%;
}
.col-3-3 {
  width: 100%;
}
.top{
}

.module {
  padding: 20px 5px 20px 10px;
  background: transparent;
  color: #ffffff;
  text-align: center;
}

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px;
  background-color: transparent;
}
/*.grid-pad:last-of-type {
    padding-right: 20px;
}*/


/* module that holds search icon */
#header{
  float: clear;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  justify-content:center;
}

#searchicon, #randomicon{
  cursor: pointer;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

}
.si_clicked{
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rnd_clicked{
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* initially hidden class to hold the search input */
.searchbar{
  color: #ffffff;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  justify-content:center;

}

.btn-go{
  background-color: #ffffff;
  border: none;
  opacity: 0;
  webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;
}
.btn-go-vis{
  opacity: 1;
}

.searchbox{
  width: 30px;
  margin-left: 20px;
  opacity: 0;
  border: 3px solid #880c30;
  border-radius: 25px;
  color: #880c30;
  webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;
}
.searchbox-open{
  width: 250px;
  max-width: 100%;
  opacity: 1;
}
.btn-go{
  color: #880c30;
  margin-left: 5px;
  padding: 5px;
}
input:focus{
  outline-color: #880c30;
}
#results{
  padding-top: 0px;
  background-color:transparent;
}
#message{
  margin-left: 20px;
  padding-top: 5px;
  text-align: left;
}
.resHdr{
  padding-top: 0px;
  padding-bottom: 0px;
  background: transparent;
  color: #880c30;
}
.resPage{
  padding-top: 0px;
  text-align: left;
  background: transparent;
  color: #000000;
}
.resPage:hover{
  background-color: #a3a3a3;
}

a{
  color: #880c30;
}
h2{
  margin-top:0px;
}
